<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title>Dashboard Template for Bootstrap</title>

    <link
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link href="/public/css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." />
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
              <a href="/admins?No={{super_No}}">管理员管理界面</a>
            </li>
            <li>
              <a href="/superManager/viewLog?No={{super_No}}">日志管理</a>
            </li>
            <li>
              <a href="/superManager/holiday?No={{super_No}}">假期管理</a>
            </li>
            <li><a href="/admin/userInformation">用户信息</a></li>
            <li><a href="/admin/bookInformation">书籍信息</a></li>
            <li><a href="/admin/userBorrow">用户借阅信息</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">修改密码</h1>

          <form
            action="/admins/editPassword"
            method="POST"
            class="form-horizontal"
          >
            <!--用户类型-->
            <input type="hidden" name="id" value="{{superPassword.id}}" />
            <input type="hidden" name="super_No" value="{{super_No}}" />
            <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-1 control-label"
                >用户类型</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="a_Type"
                  value="{{superPassword.a_Type}}"
                  required
                  disabled
                />
              </div>
            </div>
            <!-- 账号 -->
            <div class="form-group">
              <label for="exampleInputEmail1" class="col-sm-1 control-label"
                >账号</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="a_No"
                  value="{{superPassword.a_No}}"
                  placeholder="账号"
                  disabled
                />
              </div>
            </div>
            <!-- 姓名 -->
            <div class="form-group">
              <label for="exampleInputEmail1" class="col-sm-1 control-label"
                >用户名</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="a_Name"
                  id=""
                  value="{{superPassword.a_Name}}"
                  placeholder="姓名"
                  disabled
                />
              </div>
            </div>

            <!-- 用户权限 -->
            <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-1 control-label"
                >用户权限</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="userLimit"
                  name="a_limit"
                  value="{{superPassword.a_limit}}"
                  required
                  disabled
                />
              </div>
            </div>
            <!-- 密码 -->
            <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-1 control-label"
                >密码</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="passwordnNo"
                  name="a_Password"
                  placeholder="密码"
                  value="{{superPassword.a_Password}}"
                  required
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
